body {
    @include Lora(15px);
    color: $grey;
    margin: 0;
    padding: 0;
    height: 5000px;
    //background-color: aquamarine;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.divider {
    height: 150px;
    background: #FFBEBE;
    text-align: center;
    padding: 50px;
}