/* ----------- CSS reset (make styles look the same in every browser) ----------- */

html{color:#000;background:white;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,figure{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}
li{list-style:none;}
caption,th{text-align:left;}.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
a img {border:none;}
blockquote,q{quotes:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block;}

/* ----------- Clear and Spacing ----------- */

.clear {
  margin: 0 0 -1px 0;
  line-height: 1px;
  display: block;
  font-size: 1px;
  clear: both;
  height: 1px;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }