/* Font face */
@font-face {
    font-family: "Forum";
    src: url("../fonts/Forum/Forum-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora/Lora-Regular.ttf") format("truetype");
}

@mixin Forum($font_size){
    font-family: 'Forum', Verdana, sans-serif;
    font-size: $font-size;
}

@mixin Lora($font_size){
    font-family: 'Lora', Verdana, sans-serif;
    font-size: $font-size;
}