/* Mobile devices (767px and down) */
$screen-mobile: 767px;

/* Small devices (tablets, 768px and up) */
$screen-tablet-min: 768px;
$screen-tablet-max: 991px;

/* Medium devices (desktops, 992px and up) */
$screen-laptop-min: 992px;
$screen-laptop-max: 1199px;

/* Large devices (large desktops, 1400px and up) */
$screen-desktop-min: 1200px;

$black-custom: #23262c;
$grey: #787567;
$red-custom: #d03e3b;
$blue-custom: #29445b;