.add-new-vine-component {

    padding: 80px 0;

    .form-label {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .form-text-field {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        color: $blue-custom;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
    }

    .form-text-area {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        color: $blue-custom;
        padding: 15px;
    }


    .btn-submit {
        outline: none;
        border: 1px solid #d8d4be;
        color: $blue-custom;
        display: inline-block;
        line-height: 43px;
        height: 43px;
        padding: 0 15px;
        background-color: transparent;

        &:hover {
            color: white;
            background-color: #d4c499;
        }
    }

}