.vine-details-component {

    padding: 80px 0;

    .vine-img-wrapper {
        background-image: url('../img/biege-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px 0;
        .vine-img {

        }
    }

    .vine-info-wrapper {

        padding-left: 30px;

        .vine-price {
            font-size: 23px;
            color: $red-custom;
            margin-bottom: 30px;
        }

        .vine-description {
            font-size: 15px;
            margin-bottom: 40px;
        }

        .details {
            color: $blue-custom;
            margin-bottom: 10px;
            .text-red {
                color: $red-custom;
            }
        }

    }

}