.view-list-component {

    background-image: url('../img/biege-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;

    .mini-heading {
        text-align: center;
        color: #d03e3b;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .heading {
        text-align: center;
        @include Forum(60px);
        color: $black-custom;
    }

    .list-description {
        text-align: center;
        font-size: 16px;
        margin-bottom: 55px;
    }


    .vine-item {

        text-align: center;

        .vine-img {
            margin-bottom: 15px;
        }

        .vine-category {
            @include Lora(13px);
            color: #837b78;
            margin-bottom: 10px;

        }

        .vine-name {
            @include Forum(23px);
            color: $blue-custom;
            margin-bottom: 7px;
        }

        .price {
            font-size: 20px;
            color: $red-custom;
            margin-bottom: 25px;
        }

        .btn-details {
            outline: none;
            border: 1px solid #d8d4be;
            color: $blue-custom;
            display: inline-block;
            line-height: 43px;
            height: 43px;
            padding: 0 15px;
            background-color: transparent;

            &:hover {
                color: white;
                background-color: #d4c499;
            }
        }

    }


    .add-new-vine-wrapper {
        text-align: center;
        margin-top: 50px;

        .add-new-vine {
            display: inline-block;
            color: white;
            line-height: 50px;
            height: 50px;
            padding: 0 30px;
            background-color: $red-custom;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }











}